* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

:root {
    --color_dark: #212529;
    --color_grey_shadow: #bcbcbc;
    --bnb-li-hover: #bcbcbc9a;
    --bnb-main: #45C2B1;
    --bnb-lighter: white;
    --bnb-crown: gold;
    --bnb-crown-shadow: #24224a;
    --bnb-crown-border: #4c6b9f;
    --bnb-crown-bg: #6282f4b9;
}

.bg_dark {
    background-color: var(--color_dark);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Uility */

.container {
    width: 90%;
    margin: auto;
    max-width: 1220px;
}

.d-flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.box_shadow {
    box-shadow: 0 0 20px var(--color_grey_shadow);
}

.col-100 {
    width: 100%;
}

.col-50 {
    width: 50%;
}

.col-6 {
    width: calc((100% / 12) *6);
}

.col-4 {
    width: calc((100% / 12) *4);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.card {
    box-shadow: 0 0 12px 1px var(--color_grey_shadow);
    height: 100%;

    .card-header {
        align-items: center;
        justify-content: center;
        border-radius: 2rem 2rem 0 0;
        color: white;
        padding: 0.8rem 1.5rem 0.5rem;
        background-color: var(--color_dark);
        margin-top: 1rem;
    }

    .card-body {
        padding: 1rem;
        color: black;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
}